html{
    font-size: 18px;
}


*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}
#grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
}
#global-header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / 2;
}
#banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #efefef;
    justify-content: space-around;

    img{
        max-width: 70%;
    }
}
main{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
main nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

    a{
        color: rgb(146, 146, 146);
    }
}
#catergorymenu{
    grid-column: 1/2;
    grid-row: 2/3;
}
#catergorymenu nav ul{
    list-style: none;
}
footer{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#mainlogo{
    width: 15%;
    max-width: 250px;
    margin:0px auto;
    display: block;
}
.flexmenu{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.flexmenu a{
    text-decoration: none;
    color: black;
}
.flexspaceb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.flexspaceb h2{
    width: 100%;
}
.flexspaceb form label{
    visibility: hidden;
    position: absolute;
}
.flexspaceb form{
    position: relative;
}

#outlet{
    color: red;
}
.productcard{
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 13px 9px 20px 0px #f0f0f0;
    border-radius: 4px;
    padding: 1rem;
}
